<ion-header>
  <ion-navbar>
    <ion-title><span *ngIf="book">{{ book.title }}</span></ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="add()" *ngIf="!isInLibrary()">
          <ion-icon name="md-add"></ion-icon>
        </button>
        <button ion-button icon-only (click)="remove()" *ngIf="isInLibrary()">
            <ion-icon name="md-remove"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="book">
    <ion-row>
      <ion-col col-12>{{ book.subtitle }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><img src="{{ book.thumbnail }}"/></ion-col>
      <ion-col col-6>
          <ion-row>
              <ion-col col-12>
                <span class="bold">
                  <span class="label">Authors: </span>
                  <div *ngFor="let author of book.authors">{{ author }}</div>
                </span>
              </ion-col>
              <ion-col col-12>
                  <span class="label">Categories: </span>
                  <span class="value">
                    <span *ngFor="let categorie of book.categories">{{ categorie }}</span>
                  </span>
              </ion-col>
              <ion-col col-12>
                  <span class="label">Publication date: </span>
                  <span class="value">{{ book.publishedDate }}</span>
              </ion-col>
              <ion-col col-12>
                  <span class="label">Publisher: </span>
                  <span class="value">{{ book.publisher }}</span>
              </ion-col>
              <ion-col col-12>
                  <span class="value">{{ book.printedPageCount }} pages</span>
              </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12> {{ book.description }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
